---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=chicago,%20il&key=<GOOGLE_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Chicago",
                       "short_name" : "Chicago",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Chicago, IL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52366099999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    },
                    "location" : {
                       "lat" : 41.8781136,
                       "lng" : -87.6297982
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52366099999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    }
                 },
                 "place_id" : "ChIJ7cv00DwsDogRAMDACa2m4K8",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 00:01:18 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&lat=41.8781136&lon=-87.6297982&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.88,"lon":-87.63,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1591574476,"sunrise":1591524944,"sunset":1591579412,"temp":24.15,"feels_like":21.99,"pressure":1017,"humidity":44,"dew_point":11.14,"uvi":11.53,"clouds":20,"visibility":16093,"wind_speed":3.6,"wind_deg":80,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1591574520,"precipitation":0},{"dt":1591574580,"precipitation":0},{"dt":1591574640,"precipitation":0},{"dt":1591574700,"precipitation":0},{"dt":1591574760,"precipitation":0},{"dt":1591574820,"precipitation":0},{"dt":1591574880,"precipitation":0},{"dt":1591574940,"precipitation":0},{"dt":1591575000,"precipitation":0},{"dt":1591575060,"precipitation":0},{"dt":1591575120,"precipitation":0},{"dt":1591575180,"precipitation":0},{"dt":1591575240,"precipitation":0},{"dt":1591575300,"precipitation":0},{"dt":1591575360,"precipitati[...]
